<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>libnam's blog</h2>
        </header>
        <p>我是 <strong>libnam</strong>, 一个简单的
        <br />
        IOS开发程序猿，这里简简单单，只有技术与分享
        <br />
        </p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">正文</a></li>
            </ul>
        </footer>

    </div>

</section>
