<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <meta name="baidu-site-verification" content="odUDU8AzfZ" />
            <h2>libnam's blog</h2>
        </header>
        <p>我是 <strong>libnam彭乔伟</strong>, 一个简单的
        <br />
        IOS开发程序猿，这里将记录我成长的过程与收获
        <br />
        </p>
        <footer>
            <ul class="buttons vertical">
                 <li><a href="/blog.html" class="button fit scrolly">READ NOW</a></li>
            </ul>
        </footer>

    </div>

</section>
